body {
    text-align: center;
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 40%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.664) 5px 5px 10px ;
    
}
.button {
    font-size: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(70, 142, 236);
    transition: .2s;
    color: whitesmoke;
    border: none;
}
.button:hover {
    transition: .2s;
    background-color: rgb(26, 78, 146);
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}